.home-container {
  width: 100%;
  height: 100%;
  bottom: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
  background: transparent;
  pointer-events: none;
  background-color: #ccff0000;
}

.home-wrapper {
  flex: 1;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.info-container {
  width: 90%;
  /* height: calc(100vh - 100px); */
  border-radius: 8px;
  padding: 4px;
  /* justify-content: center; */
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.left {
  flex: 1/2;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: 20;
  margin-left: 20;
  overflow: visible;
}

.profile-photo {
  width: 250px;
  height: 340px;
  z-index: 1;
  pointer-events: all;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: ease-in height 0.4s, width 0.4s;
  animation: appear-left 1s;
}
.profile-photo:hover {
  width: 270px;
  height: 360px;
}

.middle {
  flex: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  padding: 10px;
  animation: appear-right 1s;
  /* background-color: teal; */
}
.greetings {
  font-size: 30px;
  /* flex: 1; */
  display: flex;
  align-self: flex-start;
  /* background-color: tomato; */
  position: relative;
  z-index: 10;
}
.short-desc {
  font-size: 14;
  display: flex;
  align-self: flex-start;
  background-color: tomato;
  line-height: 1.2rem;
  color: #CFD8DC;
  background: rgba(116, 163, 207, 0.3);
  /* transform: rotate(2deg); */
  border-radius: 30% 40% 15% 20%;
  padding: 8px 9px 2px 8px;
  background-color: #6617cb;
  background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
  /* background-color: #8883f1;
background-image: linear-gradient(315deg, #8883f1 0%, #dd88ad 74%); */
}
.left-align {
  /* background-color: thistle; */
  align-self: flex-start;
}
.intro-wrapper {
  display: flex;
  /* justify-content: flex-end; */
  font-weight: 400;
  width: 100%;
  position: relative;
}
.intro {
  font-size: 20px;
  /* background-color: thistle; */
}
.icons-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  align-items: center;
  /* justify-content: flex-end; */
  z-index: 1;
  pointer-events: all;
}

.description {
  flex: 1/2;
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
  padding: 10px;
  flex-direction: column;
  line-height: 20px;
  letter-spacing: 0.2;
  animation: appear-bottom 1s;
  /* background-color: tomato; */
}
.text-link {
  pointer-events: all;
}
.text-link:visited {
  text-decoration: none;
  color: inherit;
}

/* Responsive */
@media screen and (max-width: 980px) {
  .description {
    flex: 1/2;
    display: flex;
    /* font-size: 14px;
    padding: 0%; */
  }
}
@media screen and (max-width: 852px) {
  .profile-photo {
    width: 195px;
    height: 260px;
    z-index: 1;
    pointer-events: all;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: ease-in height 0.4s, width 0.4s;
  }
  .profile-photo:hover {
    width: 210px;
    height: 290px;
  }
  .description {
    flex: 1/2;
    /* margin-top: 0; */
    overflow: auto;
  }
}

@media screen and (max-width: 645px) {
  .profile-photo {
    width: 170px;
    height: 210px;
  }
  .profile-photo:hover {
    width: 180px;
    height: 220px;
  }
  .greetings {
    font-size: 28px;
  }
  .intro {
    font-size: 18px;
  }
  .description {
    flex: 1/2;
    font-size: 14px;
    padding: 0%;
    margin-top: 8px;
  }
}

@media screen and (max-width: 504px) {
  .profile-photo {
    width: 120px;
    height: 150px;
  }
  .profile-photo:hover {
    width: 140px;
    height: 170px;
  }
  .greetings {
    font-size: 30px;
  }
  .intro {
    font-size: 20px;
  }
  .description {
    flex: 1/2;
    font-size: 14px;
    margin-top: 0px;
    padding: 0%;
  }
  .icons-bar {
    height: 30px;
  }
}
@media screen and (max-width: 399px) {
  .profile-photo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
  .profile-photo:hover {
    width: 100px;
    height: 100px;
  }
  .greetings {
    font-size: 20px;
  }
  .intro {
    font-size: 16px;
  }
  .description {
    flex: 1/2;
    font-size: 14px;
    margin-top: 0px;
    padding: 0%;
  }
}

@media screen and (max-width: 310px) {
  .profile-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .profile-photo:hover {
    width: 90px;
    height: 90px;
  }
  .greetings {
    font-size: 20px;
  }
  .intro {
    font-weight: 400;
    font-size: 15px;
  }
  .description {
    flex: 1/2;
    margin-top: 0px;
    font-size: 14px;
    padding: 0%;
  }
}
@media screen and (max-width: 262px) {
  .profile-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* display: none; */
  }
  .profile-photo:hover {
    width: 50px;
    height: 50px;
  }
  .greetings {
    font-size: 15px;
  }
  .short-desc {
    font-size: 12px;
    padding: 4px;
  }
  .intro {
    font-weight: 400;
    font-size: 14px;
  }
  .description {
    flex: 1/2;
    margin-top: 0px;
    font-size: 12px;
    padding: 0%;
  }
}

/* Animation */
@keyframes appear-bottom {
  0% {
    opacity: 0;
    bottom: -30;
    position: relative;
  }
  25% {
    opacity: 0.3;
    bottom: -20;
    position: relative;
  }
  50% {
    opacity: 0.6;
    bottom: -10;
    position: relative;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
@keyframes appear-left {
  0% {
    opacity: 0;
    left: -30;
    position: relative;
  }
  25% {
    opacity: 0.3;
    left: -20;
    position: relative;
  }
  50% {
    opacity: 0.6;
    left: -10;
    position: relative;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes appear-right {
  0% {
    opacity: 0;
    right: -30;
    position: relative;
  }
  25% {
    opacity: 0.3;
    right: -20;
    position: relative;
  }
  50% {
    opacity: 0.6;
    right: -10;
    position: relative;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}
