.icon-container {
  width: 25px;
  height: 25px;
  margin: 8;
  transition: width 0.2s, height 0.1s;
  pointer-events: all;
  /* z-index: 100; */
}

.icon-container:hover {
  width: 30px;
  height: 30px;
}
/* .icon {
  width: 10px;
  height: 10px;
} */

@media screen and (max-width: 399px) {
}

@media screen and (max-width: 310px) {
  .icon-container {
    width: 20px;
    height: 20px;
    margin: 8;
    transition: width 0.2s, height 0.1s;
  }

  .icon-container:hover {
    width: 23px;
    height: 23px;
  }
}
